@font-face {
    font-family: 'OpenDyslexic';
    font-style: normal;
    font-weight: 400;
    src: local('OpenDyslexic'), url('/static/webfonts/OpenDyslexic-Regular.woff') format('woff');
}
@font-face {
    font-family: 'OpenDyslexic';
    font-style: italic;
    font-weight: 400;
    src: local('OpenDyslexic'), url('/static/webfonts/OpenDyslexic-Italic.woff') format('woff');
}
@font-face {
    font-family: 'OpenDyslexic';
    font-style: normal;
    font-weight: 700;
    src: local('OpenDyslexic'), url('/static/webfonts/OpenDyslexic-Bold.woff') format('woff');
}
@font-face {
    font-family: 'OpenDyslexic';
    font-style: italic;
    font-weight: 700;
    src: local('OpenDyslexic'), url('/static/webfonts/OpenDyslexic-BoldItalic.woff') format('woff');
}
@font-face {
    font-family: 'OpenDyslexic3';
    font-style: normal;
    font-weight: 400;
    src: local('OpenDyslexic3'), url('/static/webfonts/OpenDyslexic3-Regular.woff') format('woff');
}
@font-face {
    font-family: 'OpenDyslexicAlta';
    font-style: normal;
    font-weight: 400;
    src: local('OpenDyslexicAlta'), url('/static/webfonts/OpenDyslexicAlta-Regular.woff') format('woff');
}
@font-face {
    font-family: 'OpenDyslexicMono';
    font-style: normal;
    font-weight: 400;
    src: local('OpenDyslexicMono'), url('/static/webfonts/OpenDyslexicMono-Regular.woff') format('woff');
}
@font-face {
    font-family: 'OpenDyslexicAlta';
    font-style: italic;
    font-weight: 400;
    src: local('OpenDyslexicAlta'), url('/static/webfonts/OpenDyslexicAlta-Italic.woff') format('woff');
}
@font-face {
    font-family: 'OpenDyslexic3';
    font-style: normal;
    font-weight: 700;
    src: local('OpenDyslexic3'), url('/static/webfonts/OpenDyslexic3-Bold.woff') format('woff');
}
@font-face {
    font-family: 'OpenDyslexicAlta';
    font-style: normal;
    font-weight: 700;
    src: local('OpenDyslexicAlta'), url('/static/webfonts/OpenDyslexicAlta-Bold.woff') format('woff');
}
@font-face {
    font-family: 'OpenDyslexicAlta';
    font-style: italic;
    font-weight: 700;
    src: local('OpenDyslexicAlta'), url('/static/webfonts/OpenDyslexicAlta-BoldItalic.woff') format('woff');
}

